.g-sd3 {
    float: left;
    width: 240px;
    position: fixed;
    _position: absolute;
}
.g-sd3-1 {
    position: static;
}
.f-ff1 {
    font-family: simsun,\5b8b\4f53;
    font-weight: bold;
}
.s-fc4, a.s-fc4:hover {
    color: #999;
}

.s-fc0, a.s-fc0:hover {
    color: #000;
}